.btns {
  width: 55px;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  color: black;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-group {
  display: flex;
  padding-top: 100px;
  margin: auto;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.current {
  background: #23CFF2;
  width: 60px;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

@media (min-width: 320px) and (max-width: 480px) {
  .btn-group {
    padding-bottom: 30px;
  }
}