.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    gap: 18px;
    margin-top: 30px;
}

li{
    list-style: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }

    li{
        margin-bottom: 30px;
    }
}