.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0 15px;
    gap: 30px;
}

li{
    list-style: none;
}

.favor{
    margin-left: 17%;
    margin-top: 95px;
}


@media (min-width: 320px) and (max-width: 480px) {
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }

    li{
        margin-bottom: 30px;
    }

    .favor {
        margin-left: 0;
        padding-right: 10px;
    }
}