.flex{
    display: flex;
    width: 700px;
    margin: 10px auto;
}

.total{
    font-size: 20px;
    color: blueviolet;
    font-weight: 800;
    margin-top: 125px;
}

.counter{
    font-size: 14px;
    color: white;
    font-weight: 500;
    width: 22px;
    height: 22px;
    background:red;
    border-radius: 50%;
    transform: translateY(-187%);
    margin-left: 8.5%;
}




