.images{
  width: 175px;
  height: 150px;
}

.name{
  font-weight: 700;
}

.price{
  font-weight: 700;
  font-size: 22px;
  color: red;
}

.blockCount{
  font-size: 14px;
  color: black;
  width: 45px;
  height: 45px;
  background:white;
  border-radius: 15%;
  border: 1px solid grey;
  opacity: 0.7;
}

.count{
  transform: translateY(45%);
  font-weight: 600;
}

